$Main-font: 'Poppins';       // основной шрифт
$Title-color: #2A2D2A;       // цвет заголовков
$Text-color: #424642;        // цвет обычного текста
$Main-red: #D92B09;           // основной красный цвет
$White-color: #fff;           // белый цвет
$Main-green: #479E58;         // основной зелёный цвет (пока не используется в коде)
$Main-bg: #f9f9f9;            // фоновый цвет для секции
